asgiref==3.6.0
astroid==2.15.2
attrs==22.2.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
charset-normalizer==3.1.0
cinemagoer @ git+https://github.com/cinemagoer/cinemagoer@7c7960aae4ac733144fc8725cbc6a50176a8b572
click==8.1.3
clickclick==20.10.2
connexion==2.14.1
dill==0.3.6
dj-database-url==1.3.0
Django==4.2
Flask==2.2.3
flask-marshmallow==0.14.0
Flask-SQLAlchemy==3.0.3
greenlet==2.0.2
gunicorn==20.0.4
idna==3.4
importlib-metadata==6.3.0
inflection==0.5.1
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
lazy-object-proxy==1.9.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
mccabe==0.7.0
packaging==23.0
platformdirs==3.2.0
postgres==4.0
psycopg2-binary==2.9.6
psycopg2-pool==1.1
pylint==2.17.2
pyrsistent==0.19.3
PyYAML==6.0
requests==2.28.2
six==1.16.0
soupsieve==2.4
SQLAlchemy==2.0.9
sqlparse==0.4.4
swagger-ui-bundle==0.0.9
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.2.3
whitenoise==6.4.0
wrapt==1.15.0
zipp==3.15.0
