<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Archer API</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <style>
        img {
            width: 50%;
            height: auto;
        }


        .container {
            text-align: center;
        }
    </style>




</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="https://www.archerapi.com/about">About</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="https://www.archerapi.com/documentation">Documentation</a></li>
                </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container">

        <h1>About</h1>
        <br>
        <h4>What is this?</h4>
        <br>
        Archer API is a REST API built with <a href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a> and hosted
        on <a href=https://www.heroku.com />Heroku</a>.<br>
        <br>
        You can find the source code on <a href="https://github.com/ben-n93">Github</a>.<br>
        <br>

        <h4>Who are you?</h4>
        <br>
        I'm Ben, I like to build things with data. You can read more about me on my <a
            href=https://ben-nour.com>website</a>.<br>
        <br>
        <h4>How can I support this project?</h4>
        <br>
        If you'd like to support the cost of maintaining the infrastructure of this project you can donate money so I
        can buy myself a bear claw.<br>
        <br>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
            data-name="bmc-button" data-slug="ben93" data-color="#BD5FFF" data-emoji="🥐" data-font="Cookie"
            data-text="Buy me a bear claw" data-outline-color="#000000" data-font-color="#ffffff"
            data-coffee-color="#FFDD00"></script>

        </p>
    </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>